.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-listing {
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #0c3776;
  color: white;
}

.candidate-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  height: 300px;
  overflow: auto;
}

.candidate-img {
  border-radius: 50%;
  margin-right: 6px;
}

/* .sidenav {
  padding-top: 20px;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(235, 235, 235);
  margin-left: 0;
} */

.img-container {
  /* background-image: url(./app-background.jpeg); */
  background-image: linear-gradient(
    to bottom right,
    #bf3974,
    rgba(13, 110, 253, 0.25)
  );
  height: calc(100% - 80px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-col {
  max-width: 230px;
  z-index: 999;
}

.close-icon {
  margin-top: 5px;
  font-size: 20px;
}
// .close-btn {
//   background: #000;
//   border: 0;
//   margin-top: 5px;
//   display: flex;
//   float: right;
// }
.close-btn {
  background: #ededed;
  border: 0;
  margin-top: 5px;
  line-height: 3px;
  border-radius: 4px;
}

.listing-modal .modal-dialog {
  min-width: 100vw;
}

.icon-cross {
  cursor: pointer;
  font-size: 12px;
  color: rgb(119, 119, 119);
}

.popover-body {
  padding: 1rem 1rem;
  color: #212529;
  height: 200px;
  overflow: auto;
}

.view-btn {
  margin-left: 10px;
}
